.global-map-year-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.global-map-year-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.global-map-year-button {
  background-color: #f5f5f5;
  border: 2px solid rgba(0, 0, 0, 0.548);
  color: #333;
  cursor: pointer;
  font-size: 20px;
  padding: 12px 24px;
  margin: 5px; /* Adjust margin as needed for spacing */
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.global-map-year-button.selected {
  background-color: #333;
  color: #fff;
}