.slide_content{
    height:80vh;
}

.slide_title{
    height:10vh;
    padding-top: 0px;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 25px;
    font-family: arial, helvetica;

}
.section_content{
    height:95vh;
}
.section {
    height: 100vh;
}